%flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
%flexStartColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    align-items: center;
}