header{
    @include widhtAndHeight(300px, 90%, 1360px, 60px, 100px, 100px);
    margin: 20px auto;
    background: $secondColor;
    border-radius: 10px;
    padding: 0px 10px;
    
    ul{
        @extend %flexAround;
        width: 100%;
        min-height: 100px;
        list-style: none;

        .LogoDiv{
            @include widhtAndHeight(100px, auto, 20%, 100%, 100%, 100%);
            @extend %flexBetween;
        }

        .navigator{
            @extend %flexAround;
            @include widhtAndHeight(100px, 60%, 60%, 100px, 100%, 100%);
        }

        .hamburgerText{
            position: relative;
            @include widhtAndHeight(100px, 60%, 60%, 100px, 100px, 100px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .dropdownMenu{
            display: flex;
            border: 2px solid $backgroundColor;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 30px;
            @include widhtAndHeight(120px, 60%, 60%, 120px, 120px, 120px);
            background: $secondColor;
            border-radius: 15px;
        }

        .OilLogo{
            width: 50px !important; 
            height: 50px !important;
        }
    }

}
